.cuerpo{
    font-family: 'Noto Sans', sans-serif;
    background-color: #a09696;
}


.container{
    justify-content: center;
    margin-top: 20px;
}


.card{
    justify-content: center;
}

button{
    color:white;
    background-color: #27a844;
}

button:hover{
background-color: #27a844;
}

h1{
    color: #000000;
    font-weight: 320;
}

h2{
    color: #000000;
    margin: 20px;
    font-size: 20px;
}


.titulo{
    margin-bottom: 30px;
}


.alineacion{
    display: flex;
}

.sombra{
    border-radius: 15px;
}

.resultado{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.portada{
    background-color: #2a05b1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}


.secciones{
    border-bottom: 1px solid #d0d0d0;
    color: #0d96b9;
}

.datos{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ultimo{
    border-color: white;
}

h3{
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.izq{
    display: flex;
    align-items: center;
}

.der{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

b{
    font-weight: 900;;
}

.div1{
    justify-content: flex-start;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 10px;
}

.div2{
    margin-right: 10px;
}

.divs{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 14px;
}

.afinal{
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-bottom: 17px;
    margin-left: 8px;
}


a:hover{
    text-decoration: underline;
}

.link:hover{
    color: black;
    text-decoration: underline;
}

.der span{
    color: white;
}

.nombreregistro{
    color: white;
}

.emaildato{
    background-color: #08068f;
    padding: 2px 10px;
    border-radius: 7px;
}

.telefonodato{
    background-color: #000000;
    padding: 2px 10px;
    border-radius: 7px;
}

.gusto{
    background-color: #fbff00;
    padding: 2px 10px;
    border-radius: 7px;
    color: black;
}

.porcentaje{
    background-color: #ff0000;
    padding: 2px 10px;
    border-radius: 7px;
    color: white;
}
.ficha{
    color: rgba(0, 0, 0, 0.199);
}
